[Desktop Entry]
Type=Application
Name=Anklang
Exec=$(pkgdir)/bin/anklang
Terminal=false
Icon=anklang
MimeType=application/x-anklang;
StartupWMClass="anklang/electron"
Categories=Audio;Midi;Mixer;Music;Sequencer;AudioVideoEditing;Player;Music;AudioVideo;
Keywords=MIDI;Sequencer;Synthesizer;Mixing;Effects;Notation;Composition;Live;DAW;Studio;ALSA;JACK;Pulse;LADSPA;LV2;SF2;SFZ;WAV;SoundFont;FluidSynth;Synth;Sound;Tracker;Audio;Editor;Electron;
Comment=MIDI Sequencer and Synthesizer for Editing Drums, Melodic Notes and Live Audio Sessions
