/* This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0 */

:root {
  --svg-cursor-cross:	url('/gen/cursors/cross.svg')	13 13, crosshair;
  --svg-cursor-eraser:	url('/gen/cursors/eraser.svg')	10 26, not-allowed;
  --svg-cursor-hresize:	url('/gen/cursors/hresize.svg')	13 13, col-resize;
  --svg-cursor-knife:	url('/gen/cursors/knife.svg')	 2 26, crosshair;
  --svg-cursor-move:	url('/gen/cursors/move.svg')	13 13, crosshair;
  --svg-cursor-pen:	url('/gen/cursors/pen.svg')	 1 26, default;
}
