[submodule "blobs4anklang"]
	path = external/blobs4anklang
	url = https://github.com/tim-janik/blobs4anklang.git
[submodule "clap"]
	path = external/clap
	url = https://github.com/free-audio/clap.git
[submodule "libsndfile"]
	path = external/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "liquidsfz"]
	path = external/liquidsfz
	url = https://github.com/swesterfeld/liquidsfz.git
