/.cache/
/.dir-locals.el
/.dlcache
/.submodule-stamp
/.vscode/
/BACKLOG.md
/OUTLINE.md
/TAGS
/artifacts/
/bun.lock*
/compile_commands.json
/config-defaults.mk
/external/
/node_modules/
/out/
/package-lock.json
/poxy/
/rand/
/inst/
*.png
*.jpg
*bak
*orig
*.tmp*
*~
