/* This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0 */

/* Fonts */
$b-canvas-font: normal 9px "InterVariable";	// the '9px' part is dynamically resized
@mixin b-ui-font() {
  font-family: "InterVariable";
  font-size: 15.5px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: none;
  font-variant-numeric: tabular-nums slashed-zero;
  font-feature-settings: "case", "cpsp", "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0,
			 "tnum", "zero", "ss01", "ss02", "ss03" 0, "ss04" 0,
			 "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06", "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0,
			 "liga", "calt", "ccmp", "kern";
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  @include b-font-weight-normal();
  // Note, combining font-variation-settings with var()/slot/shadowRoot tends to lack support for live updates in Chrome and FF
  // Also, specifying font-variation-settings in @font-face has no effect in Chrome 114
  font-variation-settings: "opsz" 28; // 14=Inter, 28=InterDisplay
}
@mixin b-font-weight-normal() {
  // Inter may be too thin at regular weight (font-weight=400) for low contrast scenarios, so use 500.
  // @media (prefers-color-scheme: light) { font-weight: 500; }
  // However, in dark-mode fonts can appear thicker, which is why fonts like [Darkmode On](fonts.adobe.com/fonts/darkmode-on)
  // reduce thickness in dark mode compared to light mode to ca 90%. For Inter weights, a stepping from 400 -> 500 equates
  // roughly a thickness increases of 20%. So for dark mode, we use 450.
  font-weight: 450;
}
@mixin b-font-weight-bold()   { font-weight: 700; }
@mixin b-font-weight-bolder() { font-weight: 850; }

/* Colors */
$b-color-scheme: dark;	/* only normal light dark */
$b-color-tone: #879;
$b-grey-tone: zmod($b-color-tone,Sz=20%,Jz=50%);
$b-foreground-color: zlerp($b-color-tone,#fff,91%);
$b-foreground-inactive: zmod($b-foreground-color, a=80%);
$b-background-color: zmod($b-color-tone,Sz=20%,Jz=13.1%);

$b-panel-foreground: zmod($b-grey-tone,Jz=96%);
$b-panel-background: zmod($b-grey-tone,Jz=36%);
$b-panel-focus: zmod($b-grey-tone,Jz=50%);
$b-active-color: #00e5ea;
$b-devicepanel:  lgrey(3%);
$b-device-bg:    $b-panel-background;
$b-device-handle: lgrey(26%);
$b-device-area1:  lgrey(24%);
$b-device-area2:  lgrey(28%);
$b-dialog-foreground: zmod($b-color-tone,Jz=98.7%);
$b-dialog-background: zmod($b-color-tone,Jz=18%);
$b-dialog-bordercol:  zmod($b-color-tone,Jz=36%);

/* Spacings and Sizes */
$b-panel-border: 2px;
$b-button-radius: 3px;
$b-device-radius: 3px;
$b-panel-radius: 3px;
$b-track-meter-thickness: 5px;
$b-track-meter-gap: 1px;

$b-lcdscreen-fg: #71cff2;
$b-lcdscreen-bg: #001417;
