// This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0
@import 'mixins.scss';

// Styles for the LightDOM and ShadowDOM

// Element defaults
* {
  box-sizing: border-box;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// Italic, bold, numbers
input, textarea, keygen, select, button	{ font: inherit; }
// button				{ -webkit-appearance: normal; }
.italic, i, cite, em, var, address, dfn { font-style: italic; }
strong, b, h1, h2, h3, h4, h5, h6, th, ::-webkit-validation-bubble-heading,
.bold					{ --font-weight: 700; }
.bolder, optgroup			{ --font-weight: 850; }
.tabular-nums				{ font-variant-numeric: tabular-nums; }
.slashed-zero				{ font-variant-numeric: slashed-zero; }
plaintext, listing, xmp, input:-webkit-autofill-strong-password, .tnum, .code, tt, pre, code, kbd, samp,
.tabular-nums.slashed-zero		{ font-variant-numeric: tabular-nums slashed-zero; }
