/* This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0 */

// Normalize latest Chrome & Firefox styles
@import 'normalize.css';

// imports mixins.scss
@import 'elements.scss';

// CSS cursor variables
@import url('cursors/cursors.css');

// Globals
html {
  @include b-ui-font();
  color-scheme: $b-color-scheme;
  // Scrollbars
  @include firefox-scrollbars();
  @include chrome-scrollbars();
}

html, body {
  // full viewport sizing
  margin: 0; padding: 0;
  max-width: 100vw; max-height: 100vh;
  overflow: hidden;
}

body {
  // full viewport sizing
  width: 100vw; height: 100vh;
  // main colors
  color: $b-foreground-color;
  background: $b-background-color;
  &:-moz-window-inactive {
    color: $b-foreground-inactive;
  }
}

// Button
button, push-button {
  // button shading
  background-image: $b-button-lg;
  border-top: 1px solid $b-button-light; border-left: 1px solid $b-button-light;
  border-bottom: 1px solid $b-button-dark; border-right: 1px solid $b-button-dark;
  // layout
  text-align: center; margin: 0; padding: 3px 0.5em;
  display: flex; align-items: center;
  color: $b-button-foreground;
  &:focus {
    outline: $b-focus-outline;
  }
  &:hover {
    box-shadow: inset 500px 500px $b-button-hover;
  }
  &.active, &:active, &[data-contextmenu="true"] {
    box-shadow: inset 500px 500px $b-button-active;
    background-image: $b-button-active-lg;
    border-color: $b-button-active-border;
    color: $b-button-active-fg;
  }
  &[disabled] {
    filter: saturate(80%) brightness(80%);
    pointer-events: none;
  }
  // A <button/> can focus, a <push-button/> cannot focus
}

// B-Shortcut-Dialog
.b-shortcut-dialog {
  .-div-handler {
    height: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background: #000;
  }
}
