/* This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0 */

// == grid helpers ==
.-row1 { grid-row: 1; }
.-row2 { grid-row: 2; }
.-row3 { grid-row: 3; }
.-row4 { grid-row: 4; }
.-row5 { grid-row: 5; }
.-row6 { grid-row: 6; }
.-row7 { grid-row: 7; }
.-row8 { grid-row: 8; }
.-row9 { grid-row: 9; }

.-col1 { grid-column: 1; }
.-col2 { grid-column: 2; }
.-col3 { grid-column: 3; }
.-col4 { grid-column: 4; }
.-col5 { grid-column: 5; }
.-col6 { grid-column: 6; }
.-col7 { grid-column: 7; }
.-col8 { grid-column: 8; }
.-col9 { grid-column: 9; }
