// This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0

// Basic Theme, SCSS variables
@import $themename_scss;

// Legacy definitions
@import 'theme.scss';

// == Variables ==
// Only put *!default* definitions here, so `theme.scss` takes precedence.

// theme basics
$b-theme-font-family:		$b-main-font-family;
$b-theme-foreground: 		$b-main-foreground;
$b-theme-background: 		$b-main-background;
$b-main-border-light:		zmod($b-base-background, Jz+=9%) !default;	// used for modal border
$b-main-border-dark:		zmod($b-base-background, Jz-=9%) !default;
$b-toolbar-background:		#606060 !default;
$b-toolbar-background-lg:	linear-gradient(to bottom, #666666 0%, #5a5a5a 100%) !default;
$b-button-foreground:   	#dddddd !default;
$b-button-light:   		#999999 !default;
$b-button-lg:      		linear-gradient(to bottom, #777777 0%, #707070 45%, #606060 55%, #555555 100%) !default;
$b-button-dark:    		#444444 !default;
$b-button-border:   		#333333 !default;
$b-button-hover:		fade(#ffffff, 10%) !default;
$b-button-active:		fade(#000000, 20%) !default;
$b-button-active-fg:		#bbbbbb !default;
$b-button-active-lg:     	linear-gradient(to bottom, #606060 0%, #707070 50%, #606060 100%) !default;
$b-button-active-border:	#555555 !default;
$b-glow-control:		$b-style-focus-color;
$b-switch-inactive:		#999999 !default;
$b-switch-active:		#2080f0 !default;
$b-switch-knob:		$b-button-foreground !default;
$b-boxshadow-color:		fade(#000000, 30%) !default;

// == Markdown Styling ==
@mixin b-markdown-it-inlined($maywrap: true)	{
  // avoid all margins and padding, make elements suitable for 'inline' layouts
  h1,h2,h3,h4,h5,h6 { font-size: inherit; padding: 0; margin: 0; }
  p { margin: 0; }
  ul { padding-left: 1em; }
}

// == Scrollbars ==
@mixin firefox-scrollbars() {
  & { scrollbar-color: $b-scrollbar-dd $b-scrollbar-bg; }
  & :hover,
  &:hover { scrollbar-color: $b-scrollbar-fg $b-scrollbar-bg; }
}
@mixin chrome-scrollbars() {
  & {
    ::-webkit-scrollbar-button { display: none; }
    ::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar {
      border: none; box-shadow: none;
      background: #000;
    }
  }
  & ::-webkit-scrollbar-thumb {
    background: $b-scrollbar-dd; border-radius: 5px;
  }
  & :hover,
  &:hover {
    ::-webkit-scrollbar-thumb {
      background: $b-scrollbar-fg; background: linear-gradient(zmod($b-scrollbar-fg, Jz+=10%), zmod($b-scrollbar-fg, Jz-=10%));
    }
  }
}
@mixin scrollbar-hover-area() {
  & ::-webkit-scrollbar-thumb {
    background: $b-scrollbar-dd; border-radius: 5px;
  }
  & :hover,
  &:hover {
    ::-webkit-scrollbar-thumb {
      background: $b-scrollbar-fg;
      background: linear-gradient(zmod($b-scrollbar-fg, Jz+=10%), zmod($b-scrollbar-fg, Jz-=10%));
    }
  }
  @include firefox-scrollbars();
}
